.layout {
  display: flex;
  flex-direction: column;
  /* background-color: #18191e; */
}

.layout-header {
  height: 10%;
}

.layout-children {
  flex: 0 1 auto;
  padding: 20px 0px 20px 80px;
  height: 80%;
  margin: 0 auto;
}

.layout-footer {
  height: 10%;
}

/* .layout-children {
  flex: 1 0 auto;
  min-height: 400px;
  margin: 0 auto;
} */
