.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-header {
  height: 10%;
}

.layout-children {
  flex: 2;
  padding: 20px 100px 20px 100px;
  height: 80%;
}
/* 
.layout-footer {
  height: 10%;
} */
