.comment-card {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  border: solid 2px #808080;
  background-color: #34363f;
  margin: 20px;
}

.user-comment-card {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.user-comment-image {
  /* object-position: center;
  object-fit: cover;
  border-radius: 50px; */
  margin-left: 30px;
  height: 40px;
  width: 40px;
}

.comment-username {
  color: #fafafa;
  margin-left: 10px;
}

.comments-dots {
  margin-left: 120px;
}

.comments-detail {
  color: #fafafa;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .comment-card {
    width: 540px;
    height: 185px;
  }
  .comments-dots {
    margin-left: 240px;
  }
  .comments-detail {
    margin-left: 45px;
  }
}
@media screen and (min-width: 1024px) {
  .comment-card {
    width: 740px;
    height: 160px;
  }
  .comments-dots {
    margin-left: 450px;
  }
  .comments-detail {
    margin-left: 45px;
  }
}
