.footer {
  background-color: #000000;
  height: 45px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  min-width: 500px;
}

.footer-icons {
  margin-left: 50px;
}

.footer-github,
.footer-linkedin {
  padding-right: 15px;
}
