.header {
  background-color: #000000;
  display: flex;
  justify-content: center;
  min-width: 500px;
}

.header-icon-button {
  height: 80px;
  margin-left: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-logo {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  height: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .header-icon-button {
    height: 85px;
    margin-left: 55px;
  }
  .header-logo {
    height: 115px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .header-icon-button {
    height: 90px;
    margin-left: 65px;
  }
  .header-logo {
    height: 130px;
    margin-left: 20px;
  }
}
