.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  min-width: 350px;
  max-width: 550px;
  min-height: 300px;
  max-height: 550px;
  border-radius: 5px;
  border: solid 5px red;
  background-color: orange;
  /* background-color: #34363f; */
  margin: 20px;
  padding: 20px;
}

.user-post-card {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.user-image {
  object-position: center;
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.user-name {
  color: #fafafa;
}

.post-image {
  object-position: center;
  object-fit: cover;
  min-width: 300px;
  max-width: 550px;
  min-height: 300px;
  max-height: 550px;
}

.post-comments,
.post-comments:visited {
  color: #fafafa;
  text-decoration: none;
}

/* .MuiSvgIcon-colorAction {
  color: #f8f8ff;
} */
