.post-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 414px;
  border-radius: 5px;
  border: solid 2px #808080;
  background-color: #34363f;
  margin: 20px;
  padding: 20px;
}

.user-post-card {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  padding-bottom: 10px;
}

.user-image {
  /* object-position: center;
  object-fit: cover;
  border-radius: 50px; */
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

.user-name {
  color: #fafafa;
  margin-left: 10px;
}

.post-dots {
  margin-left: 115px;
}

.post-image {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  object-position: center;
  object-fit: cover;
  min-width: 300px;
  max-width: 550px;
  min-height: 300px;
  max-height: 550px;
  margin-left: 25px;
  width: 15%;
  height: 15vh;
  border: solid 2.5px #808080;
}

.post-comments {
  margin-top: 15px;
  margin-left: 290px;
}

@media screen and (min-width: 768px) {
  .post-card {
    width: 500px;
    height: 500px;
  }
  .post-image {
    object-position: center;
    object-fit: cover;
    min-width: 440px;
    max-width: 550px;
    min-height: 390px;
    max-height: 700px;
    margin-left: 25px;
    width: 15%;
    height: 15vh;
    border: solid 2.5px #808080;
  }
  .post-dots {
    margin-left: 260px;
  }

  .post-comments {
    margin-top: 15px;
    margin-left: 430px;
  }
}

@media screen and (min-width: 1024px) {
  .post-card {
    width: 700px;
    height: 700px;
  }
  .post-image {
    object-position: center;
    object-fit: cover;
    min-width: 650px;
    min-height: 590px;
    margin-left: 25px;
    width: 15%;
    height: 15vh;
    border: solid 2.5px #808080;
  }
  .post-dots {
    margin-left: 460px;
  }

  .post-comments {
    margin-top: 15px;
    margin-left: 630px;
  }
}
